<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= render "shared/error_messages", obj: @post, col: :text %>
  <%= f.label :text, "Tell us about it" %>
  <%= f.text_area :text %>
  <%= f.submit %>
<% end %>
